---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'

const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "Alice's Astro Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h2>... here I record some happenings</h2>
        <p>This is the third page of my site.</p>
        <ul>
            {/* The list of blog posts is being generated dynamically. */}
            {/* The array returned by Astro.glob() is being mapped over. */}
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
            {/* To display title of 3rd post: allPosts[2].frontmatter.title */}
            {/* To link to url of 1st blog: <a href={myPosts[0].url}>First Post!!</a> */}
        </ul>
</BaseLayout>
